@font-face {
font-family: 'mic';
src: url("./mic.ttf") format("truetype"),
url("./mic.eot") format("embedded-opentype"),
url("./mic.woff") format("woff");
}
.mic-shrink:before { content: "\ea01"; }
.mic-expand:before { content: "\ea02"; }
.mic-linkedin:before { content: "\ea03"; }
.mic-git:before { content: "\ea04"; }
.mic-medium:before { content: "\ea05"; }
