@font-face {
font-family: 'mic';
src: url("../fonts/mic.ttf") format("truetype"),
url("../fonts/mic.eot") format("embedded-opentype"),
url("../fonts/mic.woff") format("woff");
}
.mic {
    font-family: 'mic' !important;
    font-size: 18px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$icons: (
"mic-shrink": "\ea01",
"mic-expand": "\ea02",
"mic-linkedin": "\ea03",
"mic-git": "\ea04",
"mic-medium": "\ea05"
);
@each $name, $glyph in $icons {
.#{$name}:before { content: $glyph; }
}