:host{
  position: relative;
}

.expandable{

}

.expandable .brief > {

}

.grid{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.grid .card{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px;
  color: var(--primary-color);
  cursor: pointer;
  gap: 1ch;
  border-radius: 6px;
}


.card .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1 !important;
}

.social-icons{
  display: flex;
  width: 120px;
  flex-direction: row;
  justify-content: space-between;
}
.social-icons img{
  width: 30px;
  object-position: center;
  object-fit: cover;

}
