<h2 class="light">
  Hello, I'm Hashim
</h2>
<p class="light">
  Programmer. Problem-solver. Story-seeker.
</p>
<p class="light">
  <i><small><a>Seeking a Full-Time / Co-Op roles in Software Development.</a></small></i>
</p>

<p>
  A Master’s student at Dalhousie University who sees software as both art and architecture.
  Whether it’s designing apps in Flutter, scaling services on AWS, or applying deep learning to computer vision,
  I focus on making technology both efficient and human-friendly.
</p>
<p>
  Previously at <i>Neurostellar - a BCI company</i> 🧠 and <i>LTIMindtree</i> 🖥,
  <a href="#technical_writing">published articles</a> on Medium,
  <a href="#patents">co-invented</a> a healthcare robot
  and national level contest winner,
  I thrive where curiosity meets execution.
</p>
<p>
  Currently, I’m doing a study on React vs Flutter—two frameworks, two philosophies, one goal: <a>building better
  software.</a>
</p>

<p>
  My calendar is always up-to-date. Please feel free to book a time for a discussion.
  <button (click)="window.open(calendarLink)"
          class="small-bordered" style="margin: 0">
    Schedule a Meeting
  </button>
</p>

<br>
<br>

<!--Education-->
<h2 class="light" id="education">
  Education.
</h2>
<span>
  <h2 class="no-margin">
    MACS &#64; <a href="https://www.dal.ca/" target="_blank">Dalhousie University.</a>
  </h2>
  <small class="sub-light"><i>January 2025 - April 2026</i></small>
  <p>
    Pursuing Applied Computer Science with a focus on Software Engineering and Computer vision with a aggregated gap of <i>3.94 / 4.0</i>. Some coursework include:
  </p>
  <ul>
      <li><a
        href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&catalogid=136&chapterid=9567&topicgroupid=41780&loaduseredits=False#:~:text=CSCI%205501%C2%A0%C2%A0%20Deep%20Learning%20Applications"
        target="_blank">Deep learning and Application</a>; <small><i>CNN, RNN & Transformers for Computer Vision</i></small></li>
      <li><a
        href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&entitytype=CID&entitycode=CSCI+5408"
        target="_blank">Data Management, Warehousing and Analytics</a>; <small><i>RDBMS, NoSQL, Neo4j</i></small></li>
      <li><a
        href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=38824&entitytype=CID&entitycode=CSCI+5410"
        target="_blank">Serverless Computing</a>; <small><i>Virtualization, Hypervisor, Computing using AWS and GCP</i></small></li>
      <li><a
        href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=39121&entitytype=CID&entitycode=CSCI+5308"
        target="_blank">Advanced Topics in Software Development</a>; <small><i>Design Patterns, Code Smells, SOLID principles</i></small></li>
    </ul>
</span>

<!--Professional Experience-->
<span class="expandable-header" id="professional_experience">
  <h2 class="light">
    Professional Experience.
  </h2>
  <!--  <i aria-label="expand" class="mic mic-brief"></i>-->
</span>

<span class="expandable">
  <h2 class="no-margin">
    Software Engineer &#64; <a href="https://www.neuro-stellar.com/" target="_blank">Neurostellar</a>
  </h2>
  <small class="sub-light"><i>October 2023 - December 2024</i> | Flutter, Dart, Python and AWS</small>
  <p>
    Transformed the experience for over 100 users
    by building a cross-platform application powered by Flutter and AWS,
    providing mental health insights and improving the overall
    user experience. Key technical contributions include:
  </p>
  <ul>
    <li>
      Developed <a href="https://github.com/mohammedhashim790/MTooltip">MTooltip</a>,
      a custom tooltip widget offering complete customization of its shape, position,
      and content to overcome the limitations of Flutter's default component.
    </li>
    <li>
      Built a preprocessing module to process JSON strings and remove corrupted data,
      <i>reducing data loss from Bluetooth sources by over 50%</i> compared to the previous implementation.
    </li>
    <li>
      Collaborated with cross-functional teams in an Agile environment using platforms
      like Jira, Confluence, and Github to ensure the <i>timely delivery of a
      high-quality, bug-free application</i>.
    </li>
    <li>
      Applied <i>SOLID principles</i> and design patterns,
      such as Singleton and Observer-subscriber, to improve code quality
      and maintainability.
    </li>
  </ul>
</span>

<span class="expandable">
  <h2 class="no-margin">
    Software Engineer &#64; <a href="https://www.ltimindtree.com/" target="_blank">LTIMindtree</a>
  </h2>
  <small class="sub-light"><i>June 2022 - October 2023</i> | JavaScript & Python</small>
  <p>
    Developed impactful developer tools and scalable solutions for the <i><a
    href="https://www.linkedin.com/posts/ltimindtree_futurefastertogether-activity-7132820007738114048-m2wc"
    target="_blank">NXP Semiconductors</a></i> using ARAS PLM,
    significantly reducing debugging and error-resolution times.
    Contributed to performance optimization and a seamless infrastructure migration.
  </p>
  <ul>
    <li>
      Developed a <i>client-side JavaScript debugger</i> for Aras PLM,
      significantly reducing debugging time and improving developer workflow.
    </li>
    <li>
      Built <i>a Python utility to automate searches through complex XML</i> configuration files,
      drastically cutting manual error identification time for the development team.
    </li>
    <li>
      Collaborated with a <i>cross-functional team of NXP Semiconductors</i> to
      resolve legacy system issues and deliver key ARAS PLM customizations.
    </li>
    <!--    <li>-->
    <!--      Implemented a <i>customizable, event-driven notification feature</i>-->
    <!--      that automatically triggers email alerts for item state changes or property updates, improving system monitoring.-->
    <!--    </li>-->
  </ul>
</span>

<span class="expandable">
  <h2 class="no-margin">
    SDE-Intern &#64; <a href="https://www.neuro-stellar.com/" target="_blank">Neurostellar</a>
  </h2>
  <small class="sub-light"><i>June 2022 - October 2023</i> | Flutter</small>
  <ul>
    <li>
     <i>Earned a 2-month internship extension</i> based on exceptional performance and strong critical problem-solving abilities.
    </li>
    <li>
     Contributed to key infrastructure initiatives, including system <i>performance optimization</i> and a <i>seamless infrastructure migration</i>.
    </li>
  </ul>
</span>

<span class="expandable">
  <h2 class="no-margin">
    AI Intern &#64; <a href="https://www.virtusa.com/" target="_blank">Virtusa</a>
  </h2>
  <small class="sub-light"><i>July 2021 - January 2022</i> | Python, PyTorch and BERT</small>
  <ul>
    <li>
      <i>Earned a one-month internship extension</i> (from 6 to 7 months) in recognition of strong performance and project contributions.
    </li>
    <li>
      Contributed to a research project proposed by <i>Stanford AI Laboratories</i> by <i>training a
      <a href="https://github.com/stanford-futuredata/ColBERT" target="_blank">Col-BERT</a>
      model</i> to improve document retrieval accuracy.
    </li>
    <li>
      <i>Built a Flask application</i> to process user queries and retrieve the most relevant documents using the fine-tuned model.
    </li>
  </ul>
</span>


<!--Projects-->
<span class="expandable-header" id="academic_projects">
  <h2 class="light">
    Public Speaking
  </h2>
</span>
<span class="expandable">
  <h2 class="no-margin">
    Flutter Development at SRMIST
  </h2>
  <small class="sub-light">8<sup class="sub-light">th</sup> March 2024</small>
  <p>
    <video autoplay height="240" src="cherry_network.mp4" width="320"></video>
    Invited by SRM University's Cherry+ Network to conduct a
    hands-on workshop on Flutter Mobile application development.
    During this "App Archive" session,
    I guided aspiring developers by leading a live programming demonstration,

    building the social media application <a href="https://github.com/mohammedhashim790/picspile"><em>Picspile</em></a>
    from the ground up based on Figma designs.
    <img src="cherry_network.JPEG"/>
    This practical, hands-on approach was key to sharing
    real-world industry insights with a group of highly engaged <em>students</em>.
  </p>
</span>


<!--Projects-->
<span class="expandable-header" id="academic_projects">
  <h2 class="light">
    Academic Projects.
  </h2>
</span>
<span class="expandable">
  <h2 class="no-margin">
    Why this candidate?
  </h2>
  <small class="sub-light">Python, PyTorch</small>
  <p>
    <em>Developed and fine-tuned RNN and T5 models</em>
    for candidate–job matching using the Resume Screening Dataset,
    achieving a 78% classification accuracy. This result was supported by implementing custom
    data preprocessing and tokenization pipelines to optimize model training.
    Further experimentation with selective layer freezing <em>improved</em>
    the T5 model's performance by an additional 3%, reaching a <em>BLEU score of 0.3 and a BERT score of 83%</em>.
  </p>
</span>

<span class="expandable">
  <h2 class="no-margin">
    <a href="https://github.com/mohammedhashim790/Fitbite" target="_blank">Fitbite</a>
  </h2>
  <small class="sub-light">Flutter, Springboot, Docker and AWS</small>
  <p>
    <i><a href="https://github.com/tushartushar/DesigniteJava/pull/85" target="_blank">
      Contributed to the Designite community tool by resolving architecture and code smell issues.
      <b>PR Merged!</b>
    </a>
    </i>
    <br>
    Contributed to building the Flutter app, <em>Fitbite</em>,
    by developing its user-facing <em>nutritional tracking chart</em>.
    Also strengthened the project's backend and deployment pipeline by implementing
    a <em>Test-Driven Development (TDD)</em> workflow to ensure code reliability,
    writing a <em>Python script</em> for automated CI/CD analysis using
    <i><a href="https://github.com/tushartushar/DesigniteJava">Designite</a></i>, and containerizing the
    Spring Boot service with <em>Docker</em> for automated deployments to <em>AWS EC2</em>.
    <br>
  </p>
</span>


<!--Technical Writing-->
<span class="expandable-header" id="technical_writing">
  <h2 class="light">
    Technical Writing
  </h2>
</span>
<span class="grid">
  <span class="card">
    <span class="content">
      <h2 class="no-margin"><a href="https://medium.com/@mohammedhashim790/adaptive-design-in-angular-b440dd5141a4">Modular Adaptive Design in Angular: Simplifying Responsive Development using Shopify’s Polaris UI Kit</a></h2>
      <p class="no-margin">
        <small>
          <i>Medium</i>
        </small>
        <br>
        <br>
        <img alt="" src="responsive_design.png"/> When an application's design calls for different mobile  and desktop layouts with identical functionality, the default path can lead to code duplication and complexity. Wondering if there was a better way, I developed a new approach. This article explains how to efficiently build a cross-layout application within a single codebase to avoid this problem.
        <br>
        <small><a
          href="https://medium.com/@mohammedhashim790/adaptive-design-in-angular-b440dd5141a4">Read More</a></small>
      </p>
    </span>
  </span>
  <span class="card">
    <span class="content">
      <h2 class="no-margin">
        <a
          href="https://medium.com/analytics-vidhya/finding-identical-images-in-a-directory-without-sophisticated-deep-learning-algos-5da67702059c">Finding Identical Images without sophisticated Deep Learning Algos?</a>
      </h2>
      <p class="no-margin">
        <small>
          <i>Medium - Published on <a href="https://www.analyticsvidhya.com/">Analytics Vidhya - India's first AI Community</a></i>
        </small>
        <br>
        <br>
        <img alt="" src="identical_face.png"/> Go beyond AI to understand image similarity at its mathematical core. This article explains how fundamental image processing techniques can generate values that allow us to calculate a similarity index, providing a clear and effective way to compare two or more images.
        <br>
        <small><a
          href="https://medium.com/analytics-vidhya/finding-identical-images-in-a-directory-without-sophisticated-deep-learning-algos-5da67702059c"
          target="_blank">Read More</a></small>
      </p>
    </span>
  </span>
</span>


<!--Publications-->
<span class="expandable-header" id="publications">
  <h2 class="light">
    Publication.
  </h2>
</span>
<span class="expandable">
  <h2 class="no-margin"><a>Yolo for Detecting Plant Diseases</a></h2>
  <p>
    Developed and trained a computer vision model using YOLOv-3 and TensorFlow to assess
    plant health and detect diseases by quantifying chlorophyll levels in leaf images,
    generating a health score from 0-100. This research was formally published and presented at the
    2023 Third International Conference on Artificial Intelligence and Smart Energy (ICAIS),
    an IEEE-supported conference held in Coimbatore, India.
    <br>
    <br>
    <i>C. L. K R, et al. "Yolo for Detecting Plant Diseases." ICAIS 2023, doi: 10.1109/ICAIS56108.2023.10073875.</i>&nbsp;
    <a href="https://ieeexplore.ieee.org/document/10073875" target="_blank">Link 🔗</a>
  </p>
</span>

<!--Patents-->
<span class="expandable-header" id="patents">
  <h2 class="light">
    Patent.
  </h2>
</span>
<span class="expandable">
  <h2 class="no-margin"><a>Mini Robot for Medication Adherence and Monitoring for Elderly Covid Prevention</a></h2>
  <p>
    <i><small>Patent Number: 553295 | Issued on 10/28/2024</small></i>
    <br>
    <img alt="" src="aicte.png"/> Architected the core software for a medical assistance robot,
    a capstone project, I co-invented to improve elderly care.
    I programmed the main interaction logic using Python, integrating Jetson Nano and Raspberry Pi 4 hardware to monitor users,
    manage medication schedules, and automate physician reports. Our work culminated in a prestigious honor at the AICTE
    Vishwakarma Awards from India's former <b>Union Minister of Education, Shri Dharmendra Pradhan</b>.
    <br>
    <a>Co Inventors</a>
  </p>
  <ul>
    <li>
      <a href="https://www.linkedin.com/in/prof-dr-gnanasekaran-thangavel-aa7a0b78/ "
         target="_blank">Dr. Gnanasekaran</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/vijay-anand-kandaswamy/" target="_blank">Prof. Vijay Anand</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/prabhuudayakumar/" target="_blank">Prabhu Udayakumar</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/lokamithran-g-04517118a/" target="_blank">Lokamithran</a>
    </li>
  </ul>
</span>


<!--Books - That I have read-->
<span class="expandable-header" id="books">
  <h2 class="light">
    Books - That I have read.
  </h2>
</span>
<span class="expandable">
  <p>
    When I'm not working,
    I'm often lost in a book—usually a psychological thriller or a
    suspenseful crime novel. I particularly like classic authors,
    especially <b>Agatha Christie</b>, with <b><i>"And Then There Were None"</i></b> remaining a favorite.
    While the list of books that have shaped my perspective is long,
    I'm currently into <b>"Heal Your Mind, Heal Your Life"</b> by <i>Irfan Alam</i>.
  </p>
</span>


<!--Contact-->
<span class="expandable-header" id="contact">
  <h2 class="light">
    Contact
  </h2>
</span>
<span class="expandable">
  <p class="no-margin">
    These are my social profiles. Would be happy to connect with you.
  </p>
  <span class="social-icons">
    <img (click)="window.open(linkedIn)" src="ic_linkedin.png">
    <img (click)="window.open(github)" src="ic_github.png">
    <img (click)="window.open(medium)" src="ic_medium.png">
  </span>
  <!--  <p>-->
  <!--    or if you'd like to have 1-on-1 session, Please feel free to <a-->
  <!--    (click)="window.open(calendarLink)">book a meeting</a>.-->
  <!--  </p>-->
</span>


<!--Copyright-->
<span class="expandable">
  <p class="no-margin">
    <small class="sub-light">Built with Angular and hosted on AWS. <a
      href="https://github.com/mohammedhashim790/mdhashim" target="_blank">code</a></small>
  </p>
</span>

