<div class="grid-container">


  <div class="summary">
    <span>
      <img class="profile-img" src="ic_me.png">
    </span>
    <span class="social-icons">
      <img (click)="window.open(linkedIn)" src="ic_linkedin.png">
      <img (click)="window.open(github)" src="ic_github.png">
      <img (click)="window.open(medium)" src="ic_medium.png">
    </span>
    <h3 class="light">
      Mohammed Hashim
    </h3>
    <small class="light">
      Programmer. Problem-solver. Story-seeker.
    </small>
    <small id="status">
      <i><a>Seeking a Co-Op position in Software Development.</a></i>
    </small>

    <p>
      Master’s student and software professional with 1.5 years of full stack experience.
      I view software as art and architecture, with skills in Flutter, Angular, AWS,
      and deep learning for computer vision, aiming for a human-friendly approach.
    </p>
  </div>


  <div class="education">
    <h3 class="no-margin">
      MACS &#64; <a href="https://www.dal.ca/" target="_blank">Dalhousie University.</a>
    </h3>
    <small class="sub-light" style="font-size: 1ch"><i>January 2025 - April 2026</i></small>
    <p>
      Pursuing Applied Computer Science with a focus on
      Software Engineering and Computer vision
      with a aggregated GPA of <i>3.94 / 4.0</i>. Some coursework include:
    </p>
    <ul>
      <li><a
        href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&catalogid=136&chapterid=9567&topicgroupid=41780&loaduseredits=False#:~:text=CSCI%205501%C2%A0%C2%A0%20Deep%20Learning%20Applications"
        target="_blank">Deep learning and Application</a>; <small><i>CNN, RNN & Transformers for Computer
        Vision</i></small></li>
      <li><a
        href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&entitytype=CID&entitycode=CSCI+5408"
        target="_blank">Data Management, Warehousing and Analytics</a>; <small><i>RDBMS, NoSQL, Neo4j</i></small></li>
      <li><a
        href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=38824&entitytype=CID&entitycode=CSCI+5410"
        target="_blank">Serverless Computing</a>; <small><i>Virtualization, Hypervisor, Computing using AWS and GCP</i></small>
      </li>
      <li><a
        href="https://academiccalendar.dal.ca/Catalog/ViewCatalog.aspx?pageid=viewcatalog&topicgroupid=39121&entitytype=CID&entitycode=CSCI+5308"
        target="_blank">Advanced Topics in Software Development</a>; <small><i>Design Patterns, Code Smells, SOLID
        principles</i></small></li>
    </ul>
  </div>


  <div class="pro-exp">
    <h3 class="light">
      Experience.
    </h3>
    <span>
      <h3>
        Subject Marker &#64; <a href="https://www.dal.ca">Dalhousie University</a>
      </h3>
      <small>
        <i>Present</i>
      </small>
      <p>
        Grade assignments; provide feedback to 20 students and collaborate with professor to clarify grading criteria.
      </p>
    </span>

    <span>
      <h3>
        Software Developer &#64; <a href="https://www.neuro-stellar.com">Neurostellar</a>
      </h3>
      <small>
        <i>Oct 2023 - Dec 2024</i> | Flutter, Dart, Python, AWS Amplify
      </small>
      <ul>
        <li>Built a cross-platform app for 100+ users with mental health insights using Flutter and AWS</li>
        <li>Developed MTooltip for custom tooltips</li>
        <li>Created preprocessing module, reducing Bluetooth data loss by 50%</li>
      </ul>
    </span>

    <span>
      <h3>
        Software Developer &#64; <a href="https://www.ltimindtree.com">LTIMindtree</a>
      </h3>
      <small>
        <i>June 2022 - Oct 2023</i> | JavaScript, Python
      </small>
      <ul>
        <li>Developed tools for NXP Semiconductors using ARAS PLM, reducing debugging time and aiding infrastructure migration.</li>
        <li>Built a custom JavaScript debugger for developers to debug code on the client side.</li>
        <li>Created Python utility for corrupted XML files, mostly leading to deployment failure resolution.</li>
        <li>Built a custom notification pipeline using SMTP to send emails for property updates on Database.</li>
      </ul>
    </span>

  </div>


  <div class="technical-writing">
    <h3 class="light">
      Technical Writing
    </h3>
    <span>
      <i>
      <small class="bold-500">
        <a href="https://medium.com/@mohammedhashim790/adaptive-design-in-angular-b440dd5141a4">
          "Modular Adaptive Design
          in Angular: Simplifying Responsive Development using Shopify’s Polaris UI Kit"
        </a> - Medium (2025)
      </small>
    </i>
    <i>
      <small class="bold-500">
        <a
          href="https://medium.com/analytics-vidhya/finding-identical-images-in-a-directory-without-sophisticated-deep-learning-algos-5da67702059c">
          "Finding Identical Images without sophisticated Deep Learning Algos?"
        </a> - Medium (2020)
      </small>
    </i>
   </span>


  </div>


  <div class="project">
    <h3 class="light">
      Key Project.
    </h3>
  </div>


  <div class="tech-skills">
    <h3 class="light">
      Skills.
    </h3>
    <ul>
      <li>
        <b>Programming Languages; </b> <i>Java, Python, Dart, Typescript, JavaScript</i>
      </li>
      <li>
        <b>Frameworks; </b> <i>Springboot, Angular, Flutter, React</i>
      </li>
      <li>
        <b>AI/ML Frameworks; </b> <i>PyTorch</i>
      </li>
      <li>
        <b>Cloud; </b> <i>AWS (Lambda, Fargate, DynamoDB, EC2, EBS)</i>
      </li>
      <li>
        <b>Database; </b> <i>MySQL &amp; GraphQl</i>
      </li>
      <li>
        <b>DevOps; </b> <i>Docker &amp; Jenkins</i>
      </li>
      <li>
        <b>Languages; </b> <i>English &amp; Intermediate French (France)</i>
      </li>
    </ul>

  </div>

  <div class="contributions">
    <h3 class="light">
      Contributions
    </h3>
  </div>

</div>
