@font-face {
  font-family: 'mic';
  src: url("../public/icons/mic.ttf") format("truetype"),
  url("../public/icons/mic.eot") format("embedded-opentype"),
  url("../public/icons/mic.woff") format("woff");
}

[data-theme="dark"] {
  --primary-color: white;
  --primary-background: rgba(0, 0, 0, 0.95);
  --primary-button-background: #1e1e1e;
  --primary-button-hover-background: #282828;
  --primary-button-stroke-color: #323232;
  --primary-icon-color: rgba(255, 255, 255, 0.5);
}

[data-theme="light"] {
  --primary-color: black;
  --primary-background: rgba(239, 231, 215, 0.76);
  --primary-icon-color: rgba(255, 255, 255, 0.5);
  --primary-button-background: #e1e1e1;
  --primary-button-hover-background: #c1c1c1;
  --primary-button-stroke-color: #c8c8c8;
}

body {
  margin: auto;
  padding: 4ch 2ch;

  font-family: "Montserrat", "mic", sans-serif;
  font-optical-sizing: auto;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-inline: auto;
  cursor: none;
  background: var(--primary-background);



}

.mic {
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-icon-color);
  cursor: pointer;
}

.mic-shrink:before {
  content: "\ea01";
}

.mic-expand:before {
  content: "\ea02";
}

.mic-linkedin:before {
  content: "\ea03";
}

.mic-git:before {
  content: "\ea04";
}

.mic-medium:before {
  content: "\ea05";
}

* {
  color: var(--primary-color);
  scroll-behavior: smooth;
  user-select: none;
}


h1, h2, h3, h4, h5, h6, p, small, textarea, a, title, header, footer, button, label, ul, li, label, input, select, option {
  color: var(--primary-color);
  line-height: 2;
}

p {
  text-align: justify;
}

p img {
  float: right;
  margin: 0 0 1em 1em;
  max-width: 40%;
  height: auto;
}

.no-margin {
  margin: 0;
}

.light {
  font-weight: normal;
}

.sub-light {
  color: var(--primary-icon-color);
}

button, a {
  cursor: none;
  transition: all 0.2s ease-in-out;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2ch;
  margin: 2ch 0 5ch 0;
}

a {
  text-decoration: underline;
  text-underline-offset: 0.8ch;
  text-underline-color: var(--primary-icon-color);
}


button {
  color: var(--primary-color);
  background: var(--primary-button-background);
  border: 2px solid var(--primary-button-stroke-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin: 2ch 0;
}

button:hover {
  background: var(--primary-button-hover-background);
}

button.small {
  padding: 1ch;
}

button.small-bordered {
  padding: 1ch;
  border-radius: 10px;
  margin: auto;
}


button.expanded {
  padding: 2ch 4ch;
  width: min(100%, 100ch);
}

.expandable-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1ch;
}

@media screen and (max-width: 780px) {
  p img {
    float: left;
    margin: 1em 1em 1em 0;
    max-width: 50%;
    height: auto;
  }

  .cursor {
    display: none;
  }
}
